.git/
.gitignore

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Testing & coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
allure-results/
allure-report/

# Linters/tools
.ruff_cache/
.mypy_cache/

# Editors/OS
.vscode/
.idea/
.DS_Store

# Env files
.env

# Docs
README.md
